.header {
    padding: 20px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }

  .li-weather{
      list-style: none;
      margin:0;
      padding:0;
  }

 
  .bg-blue {
      background: #003366;     
  }

  .bg-uv{
      color: white;
      padding:4px;
      border-radius:2px; 
      margin:5px;
  }

  .bg-favorable{
                  background: green;           
  }

  .bg-moderate{
      background: orange;
      color: white;
  }

  .bg-severe{
    background: red;
    color: white;
  }